{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - SubX</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="https://cdn.pixabay.com/photo/2017/02/18/19/20/logo-2078018_1280.png" alt="SubX logo">
                            </a>
                        </div>
                        <div id="header-text">
                            <h1 id="site-title">
                                <a href="/" title="SubX" rel="home">SubX</a>
                            </h1>
                            <p>Cancel anytime.</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>SubX strives to blend the best in traditional and alternative medicine in the diagnosis and treatment of health conditions in companion animals, including dogs, cats, birds, reptiles, rodents, and fish. We apply the latest healthcare technology, along with the wisdom garnered in the centuries old tradition of veterinary medicine, to find the safest and most effective treatments and cures, while maintaining a caring relationship with our patients and their guardians.</p>
                        <hr>
                        <div>
                         {% block content %}
                         {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    SubX is a fictitious brand created by Louis Choo-Choy, solely for the purpose of training. Any resemblance to real brands, products, or people is purely coincidental.
                </div>
            </footer>
        </div>
    </body>
</html>
