{% extends "base_detail.html" %}
{% block content %}
<div>
    <h3><strong>{{ subscription.name }}</strong></h3>
    <h4>{{ subscription.plan }}</h4>
    <p>{{ subscription.category }}</p>
    <p>{{ subscription.subcategory }}</p>
    <p>{{ subscription.price }}</p>
    <p class="steps" >{{ subscription.steps }}</p>
    <p><strong>Start Here:</strong> {{ subscription.primary_cancellation }}</p>
    <p><strong>For More Information:</strong> {{ subscription.secondary_cancellation }}</p>
</div>
{% endblock %}
